.big-button {
  background: $purple;
  width: 100%;
  border: none;
  border-bottom: 0.6rem solid darken($purple, 5%);
  color: #fff;
  font-weight: bold;
  font-size: $l-size;
  padding: 2.4rem;
  margin-bottom: $xl-size;
}

.big-button:disabled {
  opacity: 0.5;
}

.button {
  background: $purple;
  border: none;
  border-bottom: .3rem solid darken($purple, 5%);
  color: #fff;
  font-weight: 500;
  padding: $s-size;
}


.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
  font-weight: lighter;
  letter-spacing: 1.5px;
}