.widget {
  background: $light-blue;
  margin-bottom: $xl-size;
}
.widget-header {
  background: $blue;
  color: $off-white;
  padding: $m-size;
  display:flex;
  justify-content: space-between;
}

.widget-header__title {
  margin: 0;
}
.widget-header__message {
  margin: 0;
  color: $off-white;
  text-align: center;
  padding: $l-size;
  font-weight: lighter;
  letter-spacing: 1.5px;
  border-bottom: 1px solid lighten($light-blue, 10%);
}